<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    
    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="cordova.js"></script>
    
    <script type="text/javascript" src="resources_extends/js/angular.js"></script>
	<script type="text/javascript" src="resources_extends/js/functions.js"></script>
	<script type="text/javascript" src="resources_extends/js/mobile.js"></script>
	<script type="text/javascript" src="resources_ceu/js/ceu.js"></script>
	
	<!-- OPTIONAL For Font awesome icons
	<link href="resources_mobile/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    -->
	
    <script src="app/app.js"></script>
    
    <style>
	    .btImage{vertical-align: middle; height: 32px; margin: 0px; padding: 0px;}
	</style>
  </head>
  <body ng-app="app" ng-controller="MainController as mc">
	  
    <ion-side-menus enable-menu-with-back-views="true">
		<ion-side-menu-content>
		    <ion-header-bar class="bar-stable">
		    
		    	<!-- Left Menu button -->
				<button class="button button-icon icon ion-navicon" menu-toggle="left" ng-show="mc.viewControl.leftMenu.visible"></button>
				
				<!-- Header left buttons -->
				<div ng-repeat="item in mc.viewControl.leftButtons.items">
					<button class="button button-icon icon" ng-class="item.icon" ng-if="item.icon"
						ng-click="mc.onPress({{item}},'leftHeader')">
						{{item.title}}
					</button>
					<button class="button button-icon" ng-if="item.image"
						ng-click="mc.onPress({{item}},'leftHeader')">
						<img ng-src="{{item.image}}" class="btImage">
						{{item.title}}
					</button>
				</div>
				
				<!-- Main title -->
				<h1 class="title">{{mc.viewControl.header.title}}</h1>
				
				<!-- Header Right buttons -->
				<div ng-repeat="item in mc.viewControl.rightButtons.items">
					<button class="button button-icon icon" ng-class="item.icon" ng-if="item.icon"
						ng-click="mc.onPress({{item}},'rightHeader')">
						{{item.text}}
					</button>
					<button class="button button-icon" ng-if="item.image"
						ng-click="mc.onPress({{item}},'rightHeader')">
						<img ng-src="{{item.image}}" class="btImage">
						{{item.text}}
					</button>
				</div>
				
				<!-- Right Menu button -->
				<button class="button button-icon icon ion-navicon" menu-toggle="right" ng-show="mc.viewControl.rightMenu.visible"></button>
			</ion-header-bar>
			
			<!-- Main content -->
			<ion-nav-view></ion-nav-view>
			
		</ion-side-menu-content>
		
		<!-- Left menu -->
		<ion-side-menu side="left">
			<ion-header-bar class="bar-stable">
				<h1 class="title">{{mc.viewControl.leftMenu.title}}</h1>
			</ion-header-bar>
			<ion-content>
				<ion-list>
					<ion-item nav-clear menu-close ng-repeat="item in mc.viewControl.leftMenu.items" 
						ng-click="mc.onPress({{item}},'leftMenu')" >
						<img ng-src="{{item.image}}" ng-if="item.image" class="btImage">
						<i class="icon" ng-class="item.icon" ng-if="item.icon">&nbsp;</i>
						<i class="fa" ng-class="item.faIcon" ng-if="item.faIcon"></i>
						{{item.title}}
					</ion-item>
				</ion-list>
			</ion-content>
		</ion-side-menu>
		
		<!-- Right menu -->
		<ion-side-menu side="right">
			<ion-header-bar class="bar-stable">
				<h1 class="title">{{mc.viewControl.rightMenu.title}}</h1>
			</ion-header-bar>
			<ion-content>
				<ion-list>
					<ion-item nav-clear menu-close ng-repeat="item in mc.viewControl.rightMenu.items" 
						ng-click="mc.onPress({{item}},'rightMenu')" >
						<img ng-src="{{item.image}}" ng-if="item.image" class="btImage">
						<i class="icon" ng-class="item.icon" ng-if="item.icon">&nbsp;</i>
						<i class="fa" ng-class="item.faIcon" ng-if="item.faIcon"></i>
						{{item.title}}
					</ion-item>
				</ion-list>
			</ion-content>
		</ion-side-menu>
    </ion-side-menus>
    
    
     <!-- Loading -->
    <link rel="stylesheet" href="resources_extends/css/loading.css">
    <div class="loading" ng-show="mc.showWaitWindow">Cargando...</div>
    
  </body>
</html>
